body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 50px;
  color: black;
  background-color: #f1e0c3;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.heading {
  font-family: 'Norwester', sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.subheading {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: -10px;
}

.description {
  font-family: 'Roboto Slab', serif; /* Changed to Roboto Slab */
  font-size: 23px;
  color: #a89576;
  margin: 20px 0;
}

#features {
  background-color: #e5d9b4; /* Changed background color */
  padding: 20px; /* Added padding for better spacing */
}

#features h3 {
    font-family: 'Edu Australia VIC WA NT Hand Dots', cursive; /* Set font for header */
    font-size: 1.3em; /* Medium size for header */
    font-weight: bold; /* Bold weight */
    color: white; /* Optional, change based on your design */
}

#features p {
    text-align: center; /* Align text to the center */
    color: black; /* Optional, change based on your design */
    font-weight: bold;
}

#drop-zone {
  border: 3px dotted #201616;
  padding: 100px;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
}

#drop-zone.hover {
  border-color: #333;
}

.drop-zone-text {
  font-family: 'Canva Sans', sans-serif;
  font-size: 1.5em;
  color: #a89576;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#chooseFileButton, #uploadButton {
  background-color: #751313;
  color: #d9d9d9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

#chooseFileButton:hover, #uploadButton:hover {
    background-color: #5a0f0f;
}

#shareOptions button {
    margin: 5px;
}

#fileLink a {
    font-family: 'Open Sans', sans-serif;
    color: #5e17eb;
    font-size: 2.0em; 
    text-decoration: none;
}

#fileLink a:hover {
    text-decoration: underline;
}

#copyLinkButton, #emailLinkButton, #whatsappLinkButton {
    font-family: 'Poppins', sans-serif; 
    background-color: #ffffff; 
    color: #767474; 
    border: none; 
    padding:10px20px; 
    margin :5px; 
    cursor:pointer; 
    border-radius :10px; 
    font-size :1em; 
    transition :background-color0.3s ease; 
}

#copyLinkButton:hover, #emailLinkButton:hover, #whatsappLinkButton:hover {
    background-color:#f0f0f0; 
}

.footer-text {
    font-family:'Arcane Hand', sans-serif; 
    color:#ff7057; 
    font-size :1.2em; 
    margin-top :20px; 
    text-align:center; 
}

.parachute-image {
  display: block; /* Ensure it behaves like a block element */
  margin: 0 auto; /* Center horizontally */
  max-width: 100px; /* Adjust size as needed */
  height: auto;
}


.header {
    display: flex; 
    justify-content: flex-end; 
    padding :10px 20px; 
}

#loginButton {
   font-family:'Poppins', sans-serif; 
   background-color:#ffffff; /* Pure white */ 
   color:#767474; /* Text color */ 
   border:none; 
   padding :10px 20px; 
   cursor: pointer; 
   border-radius :5px; 
   font-size :1em; /* Adjust the size as needed */ 
   transition :background-color0.3s ease; 
}

#loginButton:hover {  
   background-color:#f0f0f0; /* Slightly darker white on hover */  
}
body.login-body {
  background-color: #f6e7ce;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  position: relative;
  width: 380px; /* Increased width */
  padding: 60px; /* Increased padding */
  background-color: #f6e7ce;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-form h2 {
  color: rgb(219, 132, 132);
  font-size: 3.5em;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 15px; /* Increased padding */
  margin: 15px 0; /* Increased margin */
  border: none;
  border-radius: 5px;
}

.login-form button {  
   width :100%;  
   padding :15px ; /* Increased padding */  
   background-color :maroon ;  
   color:#ffffff ;  
   border:none ;  
   border-radius :5px ;  
   font-size :1.1em ; /* Increased font size */    
   cursor:pointer ;    
   transition:bg-color0.3s ease ;
}
.login-form button:hover {    
     background-color:#4a13c4 ;
}
.login-form p {    
     color:#4a13c4 ;
     margin-top:10 ;
}
.login-form a {    
     color:rbg(219,132,132);    
     text-decoration:none ;
}
.login-form a:hover {    
     text-decoration:inline ;
}
.circle {    
     position:absolute ;
     width: 150px ; /* Increased size */    
     height: 150px ; /* Increased size */    
     background-color:#c2b194 ;
     border-radius: 50% ;
     opacity: 30% ;
}
.left-circle {    
     top: -60px ;
     left: -60px ;
}
.right-circle {    
     bottom: -60px ;
     right: -60px ;
}
.error-message {    
     color:#ff7057 ;
     margin-top:10 ;
     font-size: 0.9em ;
}
.auth-button {    
     background-color:#ffffff ;
     color:red ;
     border:none ;
     padding:10px ,20px ;
     text-align:center ;
     text-decoration:none ;
     display:inline-block ;
     font-size:16px ;
     margin:4px ,2px ;
     cursor: pointer ;
     border-radius:4px ;
}
.header {    
      display:flex ;    
      gap:10px ; /* Adjust the gap as needed */   
} @media (max-width 768px) {   
      .heading {   
           font-size:5.0em ;
      }
      .subheading {   
           font-size:1.2em ;   
      }
      .description {   
           font-size:1em ;   
      }
      .drop-zone-text {   
           font-size:1em ;   
           padding:5px ;   
      }
      .auth-button ,#chooseFileButton ,#uploadButton {   
           font-size:1.1em ;   
           padding: 8px ,15px ;   
      }   
} @media (max-width 480px) {   
      .heading {   
           font-size: 5.0em ;   
      }
      .subheading {   
           font-size: 1.8em ;   
      }
      .description {   
           font-size: 1.2 em ;   
      }
      .drop-zone-text {   
           font-size: 1.1 em ;   
           padding: 5px ;   
      }
      .auth-button ,#chooseFileButton ,#uploadButton {   
           font-size: 1.1 em ;   
           padding: 5px ,10px ;   
      }   
} 
