<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - ZipZap</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
</head>
<body class="login-body">
    <div class="login-container">
        <div class="login-form">
            <h2>REGISTER</h2>
            <input type="email" id="email" placeholder="EMAIL" required>
            <input type="password" id="password" placeholder="PASSWORD" required>
            <button type="submit" id="registerSubmit">REGISTER</button>
            <p id="errorMessage" class="error-message"></p>
        </div>
        <div class="circle left-circle"></div>
        <div class="circle right-circle"></div>
    </div>
    <script src="/static/register.js"></script>
</body>
</html>
